@font-face {
    font-family: 'Matter';
    src: url('/fonts/Matter-Regular.woff2') format('woff2'),
         url('/fonts/Matter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Matter';
    src: url('/fonts/Matter-Medium.woff2') format('woff2'),
         url('/fonts/Matter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Matter';
    src: url('/fonts/Matter-SemiBold.woff2') format('woff2'),
         url('/fonts/Matter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }